@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: 'Montserrat';
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 60rem;
    width: 40rem;
    border-radius: 2.5rem;
    padding: 5rem;
    background: #F5F5F5;
}

.header {
    height: 25rem;
}

.header h1 {
    font-size: 3rem;
}

.header p {
    font-size: 1.5rem;
    color: #D2D2D6;
}

.measurements {
    margin-bottom: 10rem;
}

.gender-age,
.height-weight {
    display: flex;
    gap: 10rem;
}

.gender-age {
    margin-bottom: 5rem;
}

.gender-age div,
.height-weight div {
    width: 6rem;
}

.gender-age label,
.height-weight label {
    font-size: 1.2rem;
    font-weight: 600;
}

.gender-age input,
.gender-age select {
    border: none;
    outline: none;
    font-size: 1.1rem;
    width: 12rem;
    color: #888686;
    background: #F5F5F5;
    border-bottom: 1px solid #888686;
}

.height-weight input,
.height-weight select {
    font-size: 1.1rem;
    width: 6rem;
    color: #888686;
    border: none;
    outline: none;
    background: #F5F5F5;
}

.height-option div,
.weight-option div {
    display: flex;
    gap: 2rem;
    width: 12rem;
    border-bottom: 1px solid #888686;
}

.submit button {
    width: 28rem;
    height: 4rem;
    background: #8D8CD4;
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
    border-radius: 0.5rem;
}

.calculate{
    width: 28rem;
    height: 4rem;
    background: #F9F9F9;
    font-size: 1.2rem;
    color: #1b1a1a;
    font-weight: 700;
    border-radius: 0.5rem;
}

.result-window{
    position: relative;
}

.icon-container{
    position:absolute;
    display: flex;
    top:0%;
    right:35%;
    width:2.5rem;
    height:2.5rem;
    border:2px solid white;
    border-radius: 5rem;
    justify-content: center;
    align-items: center;
}

.icon-container i{
    color:white;
}